---
layout: page
---
<div>
    <div>
        {% for category in site.categories %}
        <a href="{{ category[0] | slugify }}"><h3>{{ category | first | capitalize }}</h3></a>
        <table>
            <tr>
                <th>About</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
            {% for post in category[1] %}
            <tr>
                <td>
                    <a href="/tags/{{ post.tags.first | slugify }}">
                        {% if post.tags.size> 0 %}
                        {{ post.tags.first }}
                        {% endif %}
                    </a>
                </td>
                <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
                <td>{{ post.date | date: "%Y-%m-%d" }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
</div>