---
layout: page
---
<div>
    <div>
        {% for tag in site.featured_tags %}
        <a href="/tags/{{ tag.title | slugify }}"><h3>{{tag.title}}</h3></a>
        {% assign tag_posts = site.tags[tag.title] %}
        <table>
            <tr>
                <th>Name</th>
                <th>Date</th>
            </tr>
            {% for post in tag_posts %}
            <tr>
                <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
                <td>{{ post.date | date: "%Y-%m-%d" }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
</div>
